@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

.popup {
    
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 800px;
  height: 800px;
  overflow: hidden;
  z-index: 20;
  font-family: "Montserrat", "Open Sans";
  padding: 10px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-transform-style: preserve-3D;
  -webkit-transform-style: preserve-3D;
  transform-style: preserve-3D;
  -moz-transform: perspective(1000px) translateY(300px) rotateX(-74deg);
  -ms-transform: perspective(1000px) translateY(300px) rotateX(-74deg);
  -webkit-transform: perspective(1000px) translateY(300px) rotateX(-74deg);
  transform: perspective(1000px) translateY(300px) rotateX(-74deg);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0.2;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.popup.show {
  display: block;
  opacity: 1;
  -moz-transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
}
.popup .header {
  padding: 10px 10px;
}
.popup .header .title h3 {
  font-size: 1.6rem;
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 1;
  color: #000040;
}
.popup .header .icon {
  float: right;
  font-size: 1.3rem;
}
.popup .header .icon i {
  cursor: pointer;
  -moz-transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.popup .header .icon i:hover {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.popup .header:before, .popup .header:after {
  content: "";
  display: table;
}
.popup .header:after {
  clear: both;
}
.popup .content {
  padding: 10px;
  position: relative;
    height: 700px;
}

.popup .content img {
    position: absolute;
    left:75px;
    width:290px ;
    height:290px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    
    
}
.popup .content .infobox {
  display: inline-block;
  position: absolute;
  right: 70px;
  width: 290px;
  height: 290px;
  border: 0;
  margin: 0;
  padding: 20px;`
  background: rgba(217, 217, 217, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: "Open Sans" 20px;
  font-size: 18px;
 /* text-shadow: 2px 1px 3px rgba(100, 0, 0, 1.0);*/
  color: #808080;
  line-height: 160%;
    
}

.popup .content #send {
    position:  absolute;
    bottom: 0;
    display: inline-block;
}

.popup .content #cancle {
    position:  absolute;
    bottom: 0;
    display: inline-block;
    
}



#headbox{
	
	position : absolute ;
	top: 45%;
	left : 25%;
}

#headbox h3{
 text-align: center;
     font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 1;
  color: Gray;
  margin:0;
  
}

#headbox2 h3{
 text-align: center;
     font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 1;
  color: Gray;
  margin:0;
  
}
.drop {
  width: 300px;
  height: 300px;
  border: 3px dashed #DADFE3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background: white;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  left: 70px;
  bottom: 50px;
 
  /*&:hover
   * cursor: pointer
   * background: #f5f5f5 */
}
.drop .cont {
  width: 100%;
  height: 100%;
  color: #8E99A5;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: relative;
  top:50px;

}
.drop .cont i {
  font-size: 400%;
  color: #8E99A5;
  position: relative;
}
.drop .cont .tit {
  font-size: 100%;
  text-transform: uppercase;
   left: 0;
  bottom: 0;
}
.drop .cont .desc {
  color: #A4AEBB;
}
.drop .cont .browse {
  margin: 10px 25%;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  background: #09f;
}
.drop input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#list {
  width: 100%;
  height:100%;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}
#list .thumb {
  position:relative;
  width: 80px;
  height: 80px;
  border: 1px solid #323a44;
  margin: 0px 5px 5px 0;
  left : 10px;
}

/* fileupload2 */

#headbox2{
    position : absolute ;
    top: 45%;
    right : 25%;
}
.drop2 {
  width: 300px;
  height: 300px;
  border: 3px dashed #DADFE3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background: white;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  right: 70px;
  bottom: 50px;
 
  /*&:hover
   * cursor: pointer
   * background: #f5f5f5 */
}
.drop2 .cont {
  width: 100%;
  height: 100%;
  color: #8E99A5;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: relative;
  top:50px;

}
.drop2 .cont i {
  font-size: 400%;
  color: #8E99A5;
  position: relative;
}
.drop2 .cont .tit {
  font-size: 100%;
  text-transform: uppercase;
   left: 0;
  bottom: 0;
}
.drop2 .cont .desc {
  color: #A4AEBB;
}
.drop2 .cont .browse {
  margin: 10px 25%;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  background: #09f;
}
.drop2 input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}



    
    
    
#list2 {
  width: 100%;
  height:100%;
  text-align: left;
  position: absolute;
  right: 0;
  top: 0;
}
#list2 .thumb2 {
  position:relative;
  width: 80px;
  height: 80px;
  border: 1px solid #323a44;
  margin: 0px 5px 5px 0;
  left : 10px;
}

/* from btn  */

#btn-sub{
position : absolute;
bottom:0;
right:150px;	

}

#btn-cancle{
position : absolute;
bottom:0;
right:80px; 	
	
}


/* menu1 selet  */

      
#soflow,
#soflow-color {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
  margin-bottom: 15px;
  
}



#soflow2,
#soflow2-color {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
}
