
.clear{
  clear: both;
}


.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: arial, sans-serif;
  max-width: 600px;
  margin: 0 ;
  overflow: hidden;
}

.slidemenu label{
  width: 33%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: 0.2;

}

.slidemenu label:hover{
  cursor: pointer;
  color: #666;
}

.slidemenu label span{
  display: block;
  padding: 10px;    
}

.slidemenu label .icon{
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/*Bar Style*/

.slider{
  width: 100%;   /* 슬라이더사이즈는  4 메뉴 기준 100% */
  height: 5px;
  display: block;
  background: #ccc;
  margin-top: 10px;
  border-radius: 5px;
}

.slider .bar{
  width: 33.3%;
  height: 5px;
  background: #333;
  border-radius: 5px;
}

/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}



.slidemenu #btn-menu4-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #btn-menu4-2:checked ~ .slider .bar{ margin-left: 33%; }
.slidemenu #btn-menu4-4:checked ~ .slider .bar{ margin-left: 67%; }
/* .slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 100%; } */
