@import "compass/css3";

.collapse-custom {

  .navbar-tool {
    display: none; 
  }

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    cursor: pointer;
    border-bottom: none;

    .btn-xs {
      font-size: inherit;
    }
    li ul {
      list-style-type: none;
      padding-left: 15px;
    }

  }

  .navbar:last-of-type {
    border-bottom: 1px solid #e7e7e7;

  }

  .navbar-heading {
    background-color: #3276b1;
    cursor: default;
    font-weight: bold;
    font-size: 16px;
    li {  
      padding: 10px 0 10px 0;  
    }
    li a {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }

  .navbar-nav {
    .one {
      min-width: 120px;
    }
    .two {
      min-width: 300px;
    } 
    .three {
      min-width: 75px;
    }
    .four {
      min-width: 110px;
    } 
    .five {
      width: 20px; 
    }
  }

  .collapse {
    background-color: #fff; 
  }

  .collapse-open {
    background-color: #f5f5f5; 
  }


}

