/* Totals section */
.totals .totals-item {
    margin-top: 2%;
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}
.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
}
/* .totals .totals-item-total {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
} */

#selc1{
    border: 1px solid black;
    color: black;
    background-color: ghostwhite
}

#selc2{
    border: 1px solid black;
    color: black;
    background-color: ghostwhite
}

.pay4 td #selc1:hover{
    background-color: gainsboro;
}

.pay4 td #selc2:hover{
    background-color: gainsboro;
}

/* .main-btn .btn{
    border: 1px solid black;
    color: black;
    background-color: darkgray;
    
}

.main-btn #btn-cl{
    border: 1px solid black;
    background-color:whitesmoke;
    color: black;
}

.main-btn #btn-cl:hover{
    background-color: gainsboro;
} */

.btn-all{
    position: relative;
    float: right;
    margin-top: 3%;
    margin-bottom: 2%;
}

.media a{
    position: relative;
    margin-right: 2%;
}

.product .product-line-price:after
, .product .del:after
, .totals-value:after
{
    content: ' 원';
  }

.total{
    border-top:1px solid silver;
}


