@charset "UTF-8";
/* a, a:hover{
 text-decoration: none !important;
 text-decoration-style: none !important; 
 color: #6e6e6e !important;
} */

/* hr 관련 */
hr.SmallMarginHr{
    margin: 4px !important;
}
hr.MiddleMarginHr{
    margin: 10px !important;
}

hr.Fhr{
    border: 0; 
    height: 2px;
    background: #ccc; 
    width: 100%; 
    margin: 0 auto;
}

hr.FhrMargin{
    border: 0; 
    height: 2px;
    background: #ccc; 
    width: 100%; 
    margin: 20px 0;
}

hr.FhrBotMargin{
    border: 0; 
    height: 2px;
    background: #ccc; 
    width: 100%; 
    margin: 0 0 15px 0;
}
hr.Hhr{
    border: 0; 
    height: 2px;
    background: #ccc; 
    width: 90%; 
    margin: 0 auto;
}

