
.top-bar {
    padding: 10px 0;
    background: #ffffff;
    border-bottom: 1px solid #222;
    line-height: 28px;
}


.top-number p {
    margin: 0
}

.social {
    text-align: right;
}

.social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-share li {
    display: inline-block;
}

ul.social-share li a {
    text-decoration:none;
    display: inline-block;
    color: #fff;
    background: #0384BD;
    width: 60px;
    height: 30px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    border-radius: 2px;
}


ul.social-share li a:hover {
    background: #0384BD;
    color: #fff;
}

.search i {
    color: #fff;
}

input.search-form {
    background: transparent;
    border: 2px solid antiquewhite;
    width: 80px;
    padding: 0 10px;
    margin-top: 10px;
    background-color: #f9f2f2;
    color: black;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
input.search-button{
    background-color: black;
    border: 1px solid white;
    color: beige;
    text-align: center;
    width: 60px;
    height: auto;  
}


input.search-form::-webkit-input-placeholder {
    color: black;
    opacity: 0.2; 
}
}

input.search-form:hover::-webkit-input-placeholder {
    color: #fff;
}

input.search-form:hover {
    width: 300px;
}