/*-----Background-----*/

body{
     background-image:url(https://s3.envato.com/files/243754334/primag.jpg);
     background-repeat:no-repeat;
     background-size:cover;
     width:100%;
     height:100vh;
     overflow:auto;
     
}

/*-----for border----*/
.container{
    font-family:Roboto,sans-serif;
      background-image:url(https://image.freepik.com/free-vector/dark-blue-blurred-background_1034-589.jpg) ;
    
     border-style: 1px solid grey;
     margin: 0 auto;
     text-align: center;
     opacity: 0.8;
     margin-top: 67px;
     box-shadow: 2px 5px 5px 0px #eee;
     max-width: 500px;
     padding-top: 10px;
     height: 400px;
     margin-top: 166px;
}
/*--- for label of first and last name---*/
.nick, 
.name, 
.mail, 
.pass, 
.repass, 
.phone{
     margin-left: 1px;
     font-family: sans-serif;
     font-size: 14px;
     color: white;
     margin-top: 10px;
     position: relative;
     float: right;
}

/*---for heading-----*/
.heading{
     text-decoration:bold;
     text-align : center;
     font-size:30px;
     color:#F96;
     padding-top:10px;
}
/*-------for email----------*/
  /*------label----*/
#email, 
#name, 
#nname, 
#password, 
#userphone{
      margin-top: 5px;
}



      