   




/* Show dropdown */
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;           
}

.submenu li {
  transition: .2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1;
 visibility: visible;
}
