/* Switch button */
.btn-default.btn-on.active{background-color: lightsteelblue;color: white;}
.btn-default.btn-off.active{background-color: hotpink;color: white;}

.btn-default.btn-on-1.active{background-color: #006FFC;color: white;}
.btn-default.btn-off-1.active{background-color: #DA4F49;color: white;}

