* {
    padding: 0;
    margin: 0;
}

#serch-men {
    position: relative;
    float: right;
}

#men-ck {
    position: relative;
    float: right;
    font-size: 1000%;
}

#btn > #mas-btn {
    position: relative;
    float: right;
}

.container #page-list1{
    position: relative;
    
}

#page-list {
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);


}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background-color:gainsboro;
    border-radius: 5px;
    width: 65%;
    height: auto;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    height: 700px;
    background-color: whitesmoke;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

.pop-in > li {
    margin-top: 10px;
}

.pop-type {
    font-size: 20px;
    margin-left: 10px;
}

#my-art {
    margin-top: 45px;
    position: relative;
}

#mas-p1 {
    position: absolute;
    left: 88%;
}


#mas-p2 {
    position: absolute;
    left: 80%;
}

h3 {
    position: relative;
    text-align: center;
}

.col-lg-6 .pic1 {
    position: relative;
    text-align: center;
}

#block-tab>tbody{
    font-size: 15px;
}

#block-tab tr:first-child{
    text-align: center; 
}

#block-tab tr:nth-child(3){
    position: relative;
    height: 400px;
}

#block-tab tr:nth-child(4){
    position: relative;
    height: 100px;
}