/*for the demo*/
header {
    height: 200px;
}

header p {
    padding-top: 100px;
    text-align: center;
}

.content {
    height: 800px;
}

body {
    max-height: 400px;
}

/* end demo */

/* created with Sass*/
.navbar-default {
    background-color: #fff;
    border: 3px double #eee;
    border-radius: 0;
    border-left: none;
    border-right: none;
}

#BB-nav.affix {
    position: fixed;
    top: 0px;
    -webkit-transition: top 1s ease-in;
    transition: top 1s ease-out;
}

#BB-nav {
    width: 100%;
    background-color: #fff;
    z-index: 999;
    top: -30px;
}

#BB-nav .dropdown-menu {
    border: none;
}

.BB-nav li a {
    background-color: transparent;

    font-size: 1.04em;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #202020 !important;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

.BB-nav li a:hover {
    background-color: transparent;
    color: #D75752 !important;
}

/*reset */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #D75752 !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu a {
    background-color: transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}