       * {
           margin: 0;
           padding: 0;
       }

       #main-nav {
           margin-top: 0.5%;
           margin-bottom: 0.5%;
       }

       nav.main-navigation ul.nav-list {
           padding: 0;
           list-style: none;
           position: relative;
           width: 1000px;
           margin-left: auto;
           margin-right: auto;
       }

       .nav-list li.nav-list-item {
           display: inline-block;
           line-height: 40px;
           margin-top: -5%;
           margin-bottom: -5%;
           padding: 0 5px;
       }

       a.nav-link {
           text-decoration: none;
           font-size: 18px;
           font-family: sans-serif;
           font-weight: 500;
           cursor: pointer;
           position: relative;
           color: #404040;
       }

       @keyframes FadeIn {
           0% {
               opacity: 0;
               -webkit-transition-duration: 0.8s;
               transition-duration: 0.8s;
               -webkit-transform: translateY(-10px);
               -ms-transform: translateY(-10px);
               transform: translateY(-10px);
           }


           100% {
               opacity: 1;
               -webkit-transform: translateY(0);
               -ms-transform: translateY(0);
               transform: translateY(0);
               pointer-events: auto;
               transition: cubic-bezier(0.4, 0, 0.2, 1);
           }
       }

       .nav-list li {
           animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
           animation-fill-mode: both;
       }

       .nav-list li:nth-child(1) {
           animation-delay: .3s;
       }

       .nav-list li:nth-child(2) {
           animation-delay: .6s;
       }

       .nav-list li:nth-child(3) {
           animation-delay: .9s;
       }

       .nav-list li:nth-child(4) {
           animation-delay: 1.2s;
       }

       .nav-list li:nth-child(5) {
           animation-delay: 1.5s;
       }

       .nav-list li:nth-child(6) {
           animation-delay: 1.8s;
       }

       .nav-list li:nth-child(7) {
           animation-delay: 2.1s;
       }

       .nav-list li:nth-child(8) {
           animation-delay: 2.4s;
       }

       .nav-list li:nth-child(9) {
           animation-delay: 2.7s;
       }

       .nav-list li:nth-child(10) {
           animation-delay: 3.0s;
       }

       /* Animation */

       @keyframes fadeInUp {
           from {
               transform: translate3d(0, 40px, 0)
           }

           to {
               transform: translate3d(0, 0, 0);
               opacity: 1
           }
       }

       @-webkit-keyframes fadeInUp {
           from {
               transform: translate3d(0, 40px, 0)
           }

           to {
               transform: translate3d(0, 0, 0);
               opacity: 1
           }
       }

       .animated {
           animation-duration: 1s;
           animation-fill-mode: both;
           -webkit-animation-duration: 1s;
           -webkit-animation-fill-mode: both
       }

       .animatedFadeInUp {
           opacity: 0
       }

       .fadeInUp {
           opacity: 0;
           animation-name: fadeInUp;
           -webkit-animation-name: fadeInUp;
       }